body{
    background-color:lightgray;

}

h1
{
    text-shadow: 2px 2px red;
}
h2
{
    color:black;
}
h3
{
    color: blue;
}
h4
{
    text-shadow: 2px 2px 5px red;
}
hr
{
    background-color:black;
    border-style: none;
    border-top-style: dotted;
    border-width: 2px;
    height: 2px;
}   
